
.announcerDiv {
  display: flex;
  width: 80vw;
  margin: auto;
  justify-content: center;
}

#scoreboard {
  display: flex;
  justify-content: center;
  
}

.counters {
  margin: 15px 50px;
  text-align: center;
}

#round {
  transition: 0.4s;
}

#round:hover {
  color: rgb(255, 143, 143);
  text-shadow: 2px -1px 3px rgb(124, 15, 15);
}

#roundDisplay {
  font-size: 45px;
  margin: 2px 30px 10px 30px;
}

.choiceContainer {
  background-color: rgb(173, 199, 247);
  padding: 15px 30px;
  margin: auto;
  width: 80vw;
  display: flex;
  align-content: center;
  justify-content: center;
}

.choiceButtons {
  border: none;
  padding: 15px 20px;
  margin: 15px;
  width: 10%;
  background-color: rgb(199, 213, 238);
  transition: 0.4s;
}

.choiceButtons:hover {
  background-color: rgb(255, 255, 255);
}

#gameLogDiv {
  width: 80vw;
  background-color: rgb(168, 212, 255);
  margin: auto;
  padding: 15px 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

