
.announcerDiv {
  display: flex;
  width: 80vw;
  margin: auto;
  justify-content: center;
}


.choiceContainer {
  background-color: rgb(173, 199, 247);
  padding: 15px 30px;
  margin: auto;
  width: 80vw;
  display: flex;
  align-content: center;
  justify-content: center;
}

.choiceButtons {
  border: none;
  padding: 15px 20px;
  margin: 15px;
  align-self: center;
  width: 10%;
  background-color: rgb(199, 213, 238);
}

.choiceButtons:hover {
  background-color: rgb(255, 255, 255);
}

